<div class="container well">
  <h1 class="pt-4 pb-4 text-info">Welcome to workshop 4</h1>
  <h6>Main Activities:</h6>
  <p>
    Task 2 – Create two new Components. One should be called login and the other should be called account.
  </p>
  <p>
    Task 3 – On the login page create a log-in form that has an email and password input. Both fields should be part of the pages model. (ie variables should exist in the class file for
    each form element) .On the accounts page add a heading “Accounts Page” and an image.
  </p>
  <p>
    Task 4 – Create a login function as part of angular that takes the form input and checks the values against hard coded (3 users) values.
    If the inputs don't match an error messages should be shown. If the inputs match than the page should get redirected to the account
    page using the router.navigate() method.
  </p>
</div>
