<!-- Content -->
<div class="jumbotron bg-light p-lg-5">
  <h1 class="pt-4 pb-4 text-info">Login</h1>
    <form>
      <!-- Email input -->
      <div class="form-outline mb-4">
        <label class="form-label text-info" for="loginName">Email or username</label>
        <input type="email" id="loginName" class="form-control" />
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <label class="form-label text-info" for="loginPassword">Password</label>
        <input type="password" id="loginPassword" class="form-control" />
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-info btn-block mb-4 text-light">Sign in</button>
    </form>
</div>
