<div>
  <nav class="navbar-light navbar-expand-lg bg-info">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand text-light" routerLink="/"><h1>Workshop 4</h1></a>
        <div>
         <ul class="nav navbar-nav mr-auto navbar-right">
           <li><a class="nav-link d-inline p-2 text-light" routerLink="/login">Login</a></li>
<!--           <ng-container *ngIf="isUserLoggedIn | async">-->
            <li><a class="nav-link d-inline p-2 text-light" routerLink="/account">Account</a></li>
<!--           </ng-container>-->
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
